/* Mobile */

.login-container {
  color: #3c58a0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  order: 1;
}

.login-back {
  text-align: center;
}

.login-back a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.login-back a:hover {
  border-bottom: 1px solid #3c58a0;
}

.login-back a:visited {
  color: #3c58a0;
}

.login-back span {
  margin-left: 8px;
}

.login-title {
  margin-top: 36px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.login-new-account {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

.login-new-account a {
  color: #3c58a0;
  font-weight: 700;
}

.login-new-account a:hover {
  color: #4f72ca;
}

/* Form: START */

.login-form {
  margin-top: 37px;
  margin-left: 32px;
}

.login-form-label {
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 41px;
  display: flex;
  align-items: center;
}

.login-form-input {
  border: 1px solid #2e3191;
  border-radius: 50px;
  height: 2.5rem;
  outline: 0;
  font-size: 18px;
  color: #2e3191;
  padding-left: 16px;
  padding-right: 16px;
  width: calc(90% - 32px);
}

.login-form-input::placeholder {
  color: #2e3191;
  opacity: 0.7;
  font-size: 16px;
}

.login-form-input:focus-visible {
  border: 1px solid #050a8f;
  outline: none;
}

.login-form-input[type="email"] {
  margin-bottom: 10px;
}

.login-form {
  margin-top: 37px;
}

.login-form-password-container {
  position: relative;
}

.login-form-password-toggle {
  position: absolute;
  cursor: pointer;
  font-size: 18px;
  right: 12%;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.login-form-forgot {
  display: flow-root;
  font-size: 16px;
  font-weight: 600;
  width: 90%;
  margin-top: 15px;
}

.login-form-forgot a {
  display: block;
  float: right;
  color: #2e3191;
  text-decoration: none;
}

.login-form-forgot a:hover {
  text-decoration: underline;
}

.login-form-submit {
  margin-top: 12px;
}

.login-form-submit button {
  width: 90%;
  height: 52px;
  border: none;
  border-radius: 100rem;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #3c58a0;
  cursor: pointer;
}

.login-form-submit button:hover {
  color: #3c58a0;
  background-color: var(--primary-bg-color);
  border: 1px solid #3c58a0;
}

.login-show-error {
  margin-top: 8px;
  color: #f56565;
  font-weight: 600;
}

.login-form-divider {
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.login-form-divider-line {
  border-top: 1px solid #3c58a0;
  flex-grow: 2;
}

.login-form-divider-text {
  flex-shrink: 1;
  color: #3c58a0;
  margin-left: 20px;
  margin-right: 20px;
}

.login-form-methods {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

/* Form: END */

/* Desktop & Laptop */
@media screen and (min-width: 640px) {
  .register-container {
    order: 2;
  }

  .login-back {
    margin-top: 36px;
    text-align: left;
  }

  .login-title {
    text-align: left;
  }

  .login-new-account {
    text-align: left;
    font-size: 20px;
  }

  /* Laptop */
  @media screen and (max-height: 765px) {
    .login-form {
      margin-top: 16px;
    }

    .login-back {
      margin-top: 16px;
    }

    .login-form-divider {
      margin-top: 20px;
    }
  }
}
